// scss/themes/_dark.scss
[data-theme='dark'] {
    --background-color: #1d1d1d;
    --background-secondary: #2a2a2a;
    --text-color: #eeeeee;
    --text-secondary: #bbbbbb;
    --primary-color: #6f70c4;
    --secondary-color: #ecc05b;
    --border-color: #444444;
    --primary-accent: #0070f3;
    --theme-icon-filter: invert(1);
    --navbar-background-color: rgba(29, 29, 29, 0.8);
}